<!doctype html>
<html lang="en">

<head>
    <title>Mark's Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        window.onload = function () {
            var movieData = new Vue({
                el: '#data',
                data: {
                    activeTab: 0,
                    movies: [],
                    books: [],
                    music: [],
                    todos: [],
                    foods: [],
                    recipes: [],
                    displayedRecipes: [],
                    ingredients: [],
                    showFoodTable: false,
                    recipeName: "",
                    selTodoType: "all",
                    selFoodType: "all"
                },
                methods: {
                    setTab: function (value) {
                        this.activeTab = value;
                    },
                    clearData: function () {
                        this.m = {
                            year: new Date().getFullYear(),
                            title: "",
                            director: ""
                        }
                        this.b = {
                            year: new Date().getFullYear(),
                            title: "",
                            author: "",
                            is_read: 1,
                            is_owned: 1
                        }
                        this.t = {
                            type: "",
                            title: "",
                            notes: "",
                        }
                        this.mu = {
                            title: "",
                            artist: "",
                            year: new Date().getFullYear(),
                            format: 0,
                        }
                        this.f = {
                            name: "",
                            note: "",
                            status: 0
                        }
                    },
                    requestThenUpdate: function (name, request) {
                        fetch(request)
                            .then(response => response.json())
                            .then(response => this[name] = response);
                    },
                    post: function (obj, name, path, event) {
                        this.requestThenUpdate(name, new Request(path, {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(obj)
                        }));
                        this.clearData();
                    },
                    remove: function (obj, name, path, title = "title") {
                        console.log(title)
                        console.log(obj);
                        if (confirm(`Delete "${obj[title]}"?`)) {
                            this.requestThenUpdate(name, new Request(path, {
                                method: 'delete',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(obj)
                            }))
                        }
                    },
                    update: function (obj, name, path, field, value) {
                        update = {}
                        update[field] = value
                        this.requestThenUpdate(name, new Request(path, {
                            method: 'put',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: obj.id, update: update })
                        }))
                    },
                    findById: function (list, id) {
                        return list.find(i => {
                            return i.id == id;
                        });
                    },
                    addIngredient: function (food) {
                        var quantity = prompt("Quantity:", "");
                        if (quantity) {
                            this.ingredients.push({ id: food.id, quantity: quantity });
                        }
                    },
                    removeIngredient: function (index) {
                        this.ingredients.splice(index, 1);
                    },
                    submitRecipe: function () {
                        if (confirm(`Create recipe "${this.recipeName}"?`)) {
                            var obj = {
                                name: this.recipeName,
                                ingredients: this.ingredients
                            }
                            this.requestThenUpdate("recipes", new Request("/recipes", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(obj)
                            }))
                        }
                    },
                    toggleRecipe: function(i) {
                        if(this.displayedRecipes.includes(i)){
                            var index = this.displayedRecipes.indexOf(i);
                            this.displayedRecipes.splice(index, 1);
                        } else {
                            this.displayedRecipes.push(i);
                        }
                    }
                },
                created() {
                    this.clearData();
                    ["movies", "books", "music", "todos", "foods", "recipes"].forEach(item => {
                        fetch(new Request(`/${item}`)).then(response => response.json())
                            .then(response => this[item] = response);
                    })
                },
                computed: {
                    todoTypes: function () {
                        var types = [];
                        this.todos.forEach(todo => {
                            if (!types.includes(todo.type)) {
                                types.push(todo.type);
                            }
                        })
                        return types;
                    },
                    todoFilter: function () {
                        if (this.selTodoType == "all") {
                            return this.todos;
                        } else {
                            return this.todos.filter(todo => {
                                return todo.type == this.selTodoType;
                            })
                        }
                    },
                    foodFilter: function () {
                        if (this.selFoodType == "all") {
                            return this.foods;
                        } else {
                            return this.foods.filter(food => {
                                return food.status == this.selFoodType;
                            })
                        }
                    },
                }
            });
        }
    </script>
    <style>
        td {
            border: 1px solid lightgrey;
        }

        table {
            max-width: 100%;
        }

        li {
            cursor: pointer;
            text-decoration: underline;
        }

        tr:nth-child(2n+1) {
            background-color: lightgray;
        }

        .bold {
            font-weight: bold;
        }

        #data {
            width: 100%;
        }

        .border {
            border: 1px solid lightgrey;
        }

        /* div {
            padding: 1em;
        } */
    </style>
</head>

<body>
    <h1>Mark's Database</h1>
    <div id="data">
        <div>
            <button v-bind:class="{ bold: activeTab == 0 }" v-on:click="setTab(0)">Movies</button>
            <button v-bind:class="{ bold: activeTab == 1 }" v-on:click="setTab(1)">Books</button>
            <button v-bind:class="{ bold: activeTab == 2 }" v-on:click="setTab(2)">Music</button>
            <button v-bind:class="{ bold: activeTab == 3 }" v-on:click="setTab(3)">To Do</button>
            <button v-bind:class="{ bold: activeTab == 4 }" v-on:click="setTab(4)">Meal Planner</button>
        </div>

        <!-- Movies -->
        <table class="table" v-if="activeTab == 0">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th></th>
            </tr>
            <tr class="newItem">
                <td>
                </td>
                <td>
                    <input v-model="m.title" placeholder="Title">
                </td>
                <td>
                    <input v-model="m.director" placeholder="Director">
                </td>
                <td>
                    <input v-model="m.year" placeholder="Year" size="4">
                </td>
                <td><button v-on:click="post(m, 'movies', '/movies')">Add</button></td>
            </tr>
            <tr v-for="(movie, i) in movies">
                <td>{{i+1}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.year}}</td>
                <td><button v-on:click="remove(movie, 'movies', '/movies')">X</button></td>
            </tr>

        </table>

        <!-- Books -->
        <table class="table" v-if="activeTab == 1">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Read?</th>
                <th>Owned?</th>
                <th></th>
            </tr>
            <tr class="newItem">
                <td>
                </td>
                <td>
                    <input v-model="b.title" placeholder="Title">
                </td>
                <td>
                    <input v-model="b.author" placeholder="Author">
                </td>
                <td>
                    <input v-model="b.year" placeholder="Year" size="4">
                </td>
                <td>
                    <input v-model="b.is_read" placeholder="Read?" size="2">
                </td>
                <td>
                    <input v-model="b.is_owned" placeholder="Owned?" size="2">
                </td>
                <td><button v-on:click="post(b, 'books', '/books')">Add</button></td>
            </tr>
            <tr v-for="(book, i) in books">
                <td>{{i+1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.year}}</td>
                <td>{{book.is_read}}</td>
                <td>{{book.is_owned}}</td>
                <td><button v-on:click="remove(book, 'books', '/books')">X</button></td>
            </tr>
        </table>

        <!-- Music -->
        <table class="table" v-if="activeTab == 2">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Year</th>
                <th>Format</th>
                <th></th>
            </tr>
            <tr class="newItem">
                <td>
                </td>
                <td>
                    <input v-model="mu.title" placeholder="Title">
                </td>
                <td>
                    <input v-model="mu.artist" placeholder="Artist">
                </td>
                <td>
                    <input v-model="mu.year" placeholder="Year" size="4">
                </td>
                <td>
                    <select v-model="mu.format">
                        <option disabled value="">Select...</option>
                        <option value="0">Vinyl</option>
                        <option value="1">CD</option>
                    </select>
                </td>
                <td><button v-on:click="post(mu, 'music', '/music')">Add</button></td>
            </tr>
            <tr v-for="(m, i) in music">
                <td>{{i+1}}</td>
                <td>{{m.title}}</td>
                <td>{{m.artist}}</td>
                <td>{{m.year}}</td>
                <td>{{
                    m.format == 0 ? 'Vinyl' : m.format == 1 ? 'CD' : 'Digital'
                }}</td>
                <td><button v-on:click="remove(m, 'music', '/music')">X</button></td>
            </tr>
        </table>

        <!-- To Do -->
        <div v-if="activeTab == 3">
            <span>
                Filter:
                <select v-model="selTodoType">
                    <option>all</option>
                    <option v-for="type in todoTypes">{{type}}</option>
                </select>
            </span>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
                <tr class="newItem">
                    <td>
                    </td>
                    <td>
                        <input v-model="t.type" placeholder="Type">
                    </td>
                    <td>
                        <input v-model="t.title" placeholder="Title">
                    </td>
                    <td>
                        <input v-model="t.notes" placeholder="Note">
                    </td>
                    <td><button v-on:click="post(t, 'todos', '/todos')">Add</button></td>
                </tr>
                <tr v-for="(todo, i) in todoFilter">
                    <td>{{i+1}}</td>
                    <td>{{todo.type}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.notes}}</td>
                    <td><button v-on:click="remove(todo, 'todos', '/todos')">X</button></td>
                </tr>
            </table>
        </div>
        <!-- Meal Planner -->
        <div v-if="activeTab == 4">
            <label><input type="checkbox" v-model="showFoodTable">Show foods</label>
            <div v-if="showFoodTable">
                <span>
                    Filter:
                    <select v-model="selFoodType">
                        <option>all</option>
                        <option value="0">Owned</option>
                        <option value="1">Shopping List</option>
                        <option value="2">Previously Owned</option>
                    </select>
                </span>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Note</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <tr class="newItem">
                        <td>
                        </td>
                        <td>
                            <input v-model="f.name" placeholder="Name">
                        </td>
                        <td>
                            <input v-model="f.notes" placeholder="Note">
                        </td>
                        <td>
                            <select v-model="f.status">
                                <option disabled value="">Select...</option>
                                <option value="0">Owned</option>
                                <option value="1">To buy</option>
                                <option value="2">Previously owned</option>
                            </select>
                        </td>
                        <td><button v-on:click="post(f, 'foods', '/foods')">Add</button></td>
                    </tr>
                    <tr v-for="(food, i) in foodFilter">
                        <td>{{i+1}}</td>
                        <td>{{food.name}}</td>
                        <td>{{food.notes}}</td>
                        <td>
                            <span v-if="food.status == 0">
                                Owned
                            </span>
                            <span v-if="food.status == 1">
                                To buy
                            </span>
                            <span v-if="food.status == 2">
                                Previously Owned
                            </span>
                        </td>
                        <td>
                            <!-- <button v-on:click="update(food, 'foods', '/foods', 'name')">X</button> -->
                            <button v-on:click="update(food, 'foods', '/foods', 'status', 0)">Owned</button>
                            <button v-on:click="update(food, 'foods', '/foods', 'status', 1)">To buy</button>
                            <button v-on:click="update(food, 'foods', '/foods', 'status', 2)">Empty</button>
                            <button v-on:click="remove(food, 'foods', '/foods', 'name')">X</button>
                            <button v-on:click="addIngredient(food)">New Ingred.</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="border">
                New Recipe:
                <input v-model="recipeName" placeholder="Recipe Name">
                <table>
                    <tr v-for="(item, i) in ingredients">
                        <td>{{item.quantity}}</td>
                        <td>{{findById(foods, item.id).name}}</td>
                        <td><button v-on:click="removeIngredient(i)">X</button></td>
                    </tr>
                </table>
                <button v-on:click="submitRecipe()">Create Recipe</button>
            </div>
            <div class="border">
                Recipes:
                <ul>
                    <li v-for="(item, i) in recipes" v-on:click="toggleRecipe(i)">
                        {{item.name}}
                    </li>
                </ul>
                <div v-for="(recipe, i) in recipes" v-if="displayedRecipes.includes(i)" class="border">
                    {{recipe.name}}
                    <table>
                        <tr v-for="(item, i) in recipe.ingredients">
                            <td>{{item.quantity}}</td>
                            <td>{{item.food.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>